body{
  margin:0px;
  padding: 0px;
/*  background-color:#5F9EA0;*/
  background-color:#f0f0f0;
  overflow: hidden;
  font-family: system-ui;
}
.logo{
  margin: 0px;
  margin-left: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}
.sidebar {
  height: 100%;
  width: 300px;
  z-index: 1;
  left: 0;
  right: 25px;
  /*background-color: #008B8B;*/
  background-color: #345d84;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
  position: absolute;
  top: 0;
  font-size: 36px;
}
.sidebar li a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #f0f0f0;
  display: block;
  transition: 0.3s;
}

.sidebar li a.active {
  background-color: #3b7296 ;
  color: white ;
}


.sidebar li a:hover {
  /*color: #f1f1f1;*/
  color: #345d84;
  /*background-color:#ffdab9;*/
  background-color: #f0f0f0;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
}

.logout{
  float: right;
  width: 160px;
  font-size: 40px;
  padding: 20px;
}

.logout p{
  color: #345d84;
  font-weight: 500;
  margin-left: 55px;
  margin-top: 10px;
  font-size: 20px;
}