body {
    font-family: 'Poppins', sans-serif;
    background-color: #345d84;
    margin: 0;
    padding: 0;
}

header {
    background-color: #345d84;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav a {
    color: #345d84;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.content {
    width: 80%;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

.content h2,
.content p {
    text-align: center;
}


footer {
    background-color: #345d84;
    color: white;
    text-align: center;
    padding: 10px;
}

.section-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.employee-payments,
.contact {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 48%;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #345d84;
}

.employee-payments ul {
    list-style-type: none;
    padding: 0;
}

.employee-payments li {
    margin-bottom: 15px;
}

.payment-btn,
.history-btn {
    background-color: #345d84;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 3px;
}

.payment-btn:hover,
.history-btn:hover {
    background-color: #2d4a6b;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact label {
    margin-bottom: 5px;
    color: #345d84;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #c4d4e2;
    border-radius: 5px;
    background-color: #ffffff;
}

.contact button {
    width: 100%;
    background-color: #345d84;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 3px;
}

.contact button:hover {
    background-color: #2d4a6b;
}

nav {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#employee-portal {
    background-color: #345d84;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    margin: 0 10px;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

#employee-portal:hover {
    background-color: #2d4a6b;
}